* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* --------header section------------- */
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

header i {
  font-weight: lighter;
  font-family: "lobster";
  font-size: 20px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: black;
}
.social-handle {
  display: flex;
  gap: 30px;
  list-style: none;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.548);
  width: 100%;
  margin-top: 8px;
}
/* -------------------card section----------------- */
.vertical-border-right {
  width: 30px;
  height: 50vh;
  margin-top: 20px;
  border-radius: 10px;
  background: #e7f9fd;
}

main {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.card {
  width: 100%;
}
.img1 {
  padding: 5px 10px;
  background: white;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 35px;
}

.text h1 {
  font-size: 55px;
  margin-bottom: 25px;
}

.text p {
  margin-top: 35px;
  font-size: 18px;
}

.Recipes-1 {
  /* width: 700px; */
  padding: 40px;
  background-color: #e7f9fd;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.sauce-plate {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.Timer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.timer span {
  margin-right: 80px;
  margin: 10px;
}
.timer img {
  height: 20px;
  width: 20px;
}
.john {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 130px;
  gap: 10px;
}
button {
  border-radius: 20px;
  border: none;
  padding: 4px 10px;
}
.btn-view {
  margin-top: 20px;
  margin-left: 200px;
  color: aliceblue;
  border-radius: 30px;
  padding: 12px;
  background: black;
}
.badge {
  position: relative;
  bottom: 570px;
  margin-left: 540px;
  overflow: hidden;
}
.vertical-border-left {
  width: 30px;
  height: 50vh;
  margin-top: 20px;
  border-radius: 10px;
  background: #e7f9fd;
}

/* -------category section---------------- */

.view-all {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 40px;
}
.view-all h1 {
  font-weight: 600;
  font-size: 40px;
}

.view-all p {
  font-weight: 600;
  font-size: 16px;
  border-radius: 16px;
  padding: 10px;
  background: #e7f0fe;
}
.cat-pics {
  padding: 40px;
  margin-bottom: 20px;
}

.cat-pics img {
  width: 140px;
  margin: 25px;
}

/* -----------simpl-tasty section------- */

.simple-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.simple-test h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.simple-test p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  width: 750px;
}

.images {
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.images img {
  width: 400px;
  padding: 20px;
}

/* -----chef section */

.chef {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
}
.chef img {
  width: 650px;
}
.chef .chef-text {
  width: 400px;
}
.chef h1 {
  font-size: 40px;
  width: 500px;
  margin-top: 20px;
}
.chef p {
  font-size: 16px;
  width: 420px;
  margin-top: 40px;
  line-height: 1.5;
}
.chef .learn {
  border-radius: 10px;
  color: white;
  background: black;
  padding: 15px 20px;
  margin-top: 70px;
}
