* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

header i {
  font-weight: lighter;
  font-family: "lobster";
  font-size: 20px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: black;
}
.social-handle {
  display: flex;
  gap: 30px;
  list-style: none;
}

hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.548);
  width: 100%;
  margin-top: 10px;
}

.vertical-border-right {
  width: 30px;
  height: 50vh;
  margin-top: 20px;
  border-radius: 10px;
  background: #e7f9fd;
}

section {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.img1 {
  background: blue;
  border-radius: 20px;
  padding: 5px;
  width: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.text h1 {
  font-size: 35px;
  width: 100px;
}
.Recipes-1 {
  background: blueviolet;
  width: 500px;
  /* margin: 20px; */
}
.sauce-plate {
  width: 500px;
}
